header{
    justify-content:space-between;
    display: flex;
    background-color: #cfc8c8;
    text-align: center;
    margin: 5px;
    border-radius: 15px;
}

footer {
    background-color: #cfc8c8;
}

.contenedor-principal {
    background-color: #cfc8c8;
    display: flex;
    justify-content: center;
}

.bloque-izq {
    height: auto;
    width: 30%;
    background-image: url('imagenes/fondoDeImagen.jpg'); 
    margin: 5px; 
    padding: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.bloque-der {
    justify-content: center;
    width: 70%; 
    background-image: url('imagenes/fondoDeImagen.jpg');
    margin: 5px 5px; 
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}


.parte-fotoPerfil {
    text-align: center;
    background-image: url('imagenes/fondoDeImagen.jpg');
    margin: 5px 0; 
    padding: 10px; 
    border-radius: 5px; 
}

.foto {
    width: 100%; 
    height: auto; 
    border-radius: 50%; 
    margin-right: 100px;
}

.parte {
    justify-content: center;
    height: max-content;
    text-align: center;
    background-color: #cfc8c8;
    margin: 5px 5px;
    padding: 10px;
    border-radius: 5px;
}

.parteiz {
    height: max-content;
    text-align: center;
    background-color: #ffffff;
    margin: 5px 5px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.ubicacion {
    background-color: rgb(207, 193, 193);
}

#misExperiencias {
    justify-content: center;
    display: flex;
    width: 100%;
    margin: 10px
}

.col-md-3 {
    background-color: #b1afaf;
    margin: 15px;
}

.card {
    background-color: rgb(255, 255, 255);
}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
nav {
    background-color: #333;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    float: left;
    position: relative;
}

.menu > li > a {
    display: block;
    padding: 14px 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menu > li > a:hover {
    background-color: #575757;
}

.submenu {
    display: none; 
    position: absolute;
    background-color: #ffffff;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.submenu li {
    width: 150px;
}

.submenu li a {
    padding: 10px;
    color: rgb(0, 0, 0);
}

.submenu li a:hover {
    background-color: #575757;
}

.div-menu {
    width: 100%;
    justify-content: right;
}


button {
    padding: 10px 15px;
    margin-top: 20px;
    cursor: pointer;
}
